/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container */

.container {
    width: 1200px;
    margin: 0 auto;
}

/* display */

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.d-in-block {
    display: inline-block;
}

.d-inline {
    display: inline;
}

.d-none {
    display: none;
}

/* row */

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

/* col */

.row > * {
    max-width: 100%;
}

.row > [class^="col"]{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.row > .col-1 {
    flex-basis: calc(100% / 12);
    max-width: calc(100% / 12);
}

.row > .col-2 {
    flex-basis: calc(100% / 12 * 2);
    max-width: calc(100% / 12 * 2);
}

.row > .col-3 {
    flex-basis: 25%;
    max-width: 25%;
}

.row > .col-4 {
    flex-basis: calc(100% / 12 * 4);
    max-width: calc(100% / 12 * 4);
}

.row > .col-5 {
    flex-basis: calc(100% / 12 * 5);
    max-width: calc(100% / 12 * 5);
}

.row > .col-6 {
    flex-basis: 50%;
    max-width: 50%;
}

.row > .col-7 {
    flex-basis: calc(100% / 12 * 7);
    max-width: calc(100% / 12 * 7);
}

.row > .col-8 {
    flex-basis: calc(100% / 12 * 8);
    max-width: calc(100% / 12 * 8);
}

.row > .col-9 {
    flex-basis: calc(100% / 12 * 9);
    max-width: calc(100% / 12 * 9);
}

.row > .col-10 {
    flex-basis: calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10);
}

.row > .col-11 {
    flex-basis: calc(100% / 12 * 11);
    max-width: calc(100% / 12 * 11);
}

.row > .col-12 {
    flex-basis: 100%;
    max-width: 100%;
}

/* Offset */

.row > .offset-0 {
    margin-left: 0;
}

.row > .offset-1 {
    margin-left: calc(100% / 12);
}

.row > .offset-2 {
    margin-left: calc(100% / 12 * 2);
}

.row > .offset-3 {
    margin-left: 25%;
}

.row > .offset-4 {
    margin-left: calc(100% / 12 * 4);
}

.row > .offset-5 {
    margin-left: calc(100% / 12 * 5);
}

.row > .offset-6 {
    margin-left: 50%
}

.row > .offset-7 {
    margin-left: calc(100% / 12 * 7);
}

.row > .offset-8 {
    margin-left: calc(100% / 12 * 8);
}

.row > .offset-9 {
    margin-left: calc(100% / 12 * 9);
}

.row > .offset-10 {
    margin-left: calc(100% / 12 * 10);
}

.row > .offset-11 {
    margin-left: calc(100% / 12 * 11);
}

.row > .offset-12 {
    margin-left: 100%;
}

/* justify-content */

.justify-center{
    justify-content: center;
}
.justify-baseline{
    justify-content: baseline;
}
.justify-start{
    justify-content: flex-start;
}
.justify-end{
    justify-content: flex-end;
}
.justify-between{
    justify-content: space-between;

}
/* align-items */

.align-center{
    align-items: center;
}
.align-baseline{
    align-items: baseline;
}
.align-start{
    align-items: flex-start;
}
.align-end{
    align-items: flex-end;
}
.align-between{
    align-items: space-between;
}
.align-stretch {
    align-items: stretch;
}